<mat-nav-list>
  <a routerLink="/home" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Home</span>
  </a>
  <a routerLink="/resume" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Resume</span>
  </a>
  <a routerLink="/services" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Services</span>
  </a>
  <a routerLink="/portfolio" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Portfolio</span>
  </a>
  <a routerLink="/contact" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Contact</span>
  </a>
  <a routerLink="blog" routerLinkActive="nav-active" (click)="dismissMenu()" mat-list-item>
    <span mat-line>Blog</span>
  </a>
</mat-nav-list>
