.progress {
  background-color: transparent;
  border-radius: 8px;
  height: 10px;
}

.progress-bar {
  border: 2px solid #fff;
  border-radius: 9px;
  height: 8px;
}

.bg-f {
  background-color: #04B4E0;
}

.bg-b {
  background-color: #0BA376;
}

.bg-c {
  background-color: #8888ff;
}

.bd-f {
  border: 1px solid #04B4E0 !important;
}

.bd-b {
  border: 1px solid #0BA376 !important;
}

.bd-c {
  border: 1px solid #8888ff !important;
}
